<template>
    <wrapper>
        <template #title>
            Ошибка #404
        </template>

        <div class="alert alert-danger">
            Страница не найдена.
        </div>
    </wrapper>
</template>
