<template>
    <form @submit.prevent="submit" style="padding-bottom: 30px;">
        <div class="form-group required row">
            <label class="col-lg-3 col-form-label text-lg-right">
                Заголовок
            </label>
            <div class="col-lg-6">
                <input v-model="post.title"
                       type="text"
                       autofocus
                       placeholder="Заголовок"
                       @blur="predictSlug"
                       :class="{ 'is-invalid': errors.title }"
                       class="form-control">
                <has-error :message="errors.title" />
            </div>
        </div>
        <div class="form-group required row">
            <label class="col-lg-3 col-form-label text-lg-right">
                Ссылка
            </label>
            <div class="col-lg-6">
                <input type="text"
                       class="form-control"
                       v-model="post.slug"
                       :class="{ 'is-invalid': errors.slug }"
                       placeholder="">
                <has-error :message="errors.slug" />
            </div>
        </div>
        <div class="form-group required row">
            <label class="col-lg-3 col-form-label text-lg-right">
                Краткое описание
            </label>
            <div class="col-lg-6">
                <textarea class="form-control"
                          v-model="post.description"
                          rows="2"
                          :class="{ 'is-invalid': errors.description }"
                          placeholder="Краткое описание"></textarea>
                <has-error :message="errors.description" />
            </div>
        </div>
        <div class="form-group required row">
            <label class="col-lg-3 col-form-label text-lg-right">
                Содержание
            </label>
            <div class="col-lg-6">
                <textarea class="form-control"
                          v-model="post.content"
                          rows="10"
                          :class="{ 'is-invalid': errors.content }"
                          placeholder="Содержание"></textarea>
                <has-error :message="errors.content"/>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-lg-3 col-form-label text-lg-right">
                Картинка
            </label>
            <div class="col-lg-6">
                <div v-if="!image_file">
                    <storage-uploader :multiple="false" @uploaded="attachImage" />
                </div>
                <div v-else>
                    <div>
                        <img style="max-width: 200px;" :src="image_file.links.display">
                    </div>
                    <storage-files :resources="images" @unlinked="detachImage" />
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-lg-9 offset-lg-3">
                <submit-button :submitting="submitting">
                    Сохранить
                </submit-button>
            </div>
        </div>
    </form>
</template>

<script>
import { Validatable } from '../../../mixins'
import {transliterate, slugify} from '../../../util/utils'
import {identity, pickBy} from "lodash";

export default {
    mixins: [Validatable],

    props: {
        post: {
            type: Object,
            default: function () {
                return {
                    title: '',
                    slug: '',
                    description: '',
                    content: '',
                }
            }
        }
    },

    data: () => ({
        images: [],
        image_file: null,
        submitting: false,
        currentSlug: null,
    }),

    mounted() {
        if (!this.isNewRecord) {
            this.currentSlug = this.post.slug
        }

        this.image_file = this.post.image
        if (this.image_file) {
            this.images.push(this.image_file)
        }
    },
    computed: {
        isNewRecord () {
            return !this.post.hasOwnProperty('id')
        },

        resourceUrl () {
            return this.isNewRecord ? '/api/posts' : '/api/posts/' + this.currentSlug
        }
    },
    methods: {
        async submit () {
            if (!this.submitting) {
                this.submitting = true

                try {
                    const response = await this.$http({
                        method: this.isNewRecord ? 'post' : 'put',
                        url: this.resourceUrl,
                        data: this.post
                    })

                    this.$emit('save', response.data.data);

                } catch (e) {
                    this.extractValidation(e)
                }

                this.submitting = false
            }
        },
        predictSlug () {
            if (!this.post.slug) {
                this.post.slug = slugify(transliterate(this.post.title))
            }
        },

        async attachImage (file) {
            this.image_file = file
            this.post.image_id = this.image_file.id
            this.images.push(this.image_file)

            console.log(this.post)
        },

        async detachImage (file) {
            this.images = []
            this.image_file = null
            this.post.image_id = null
        }
    }
}
</script>
