<template>
    <wrapper>
        <template #title>
            Новый пользователь
        </template>

        <user-form @save="userSaved" />
    </wrapper>
</template>

<script>
import UserForm from './partial/form'

export default {
    components: { UserForm },

    methods: {
        async userSaved () {
            await this.$router.push({
                name: 'users.index'
            })
        }
    }
}
</script>
