<template>
    <wrapper>
        <template #title>
            {{ title }}
        </template>

        <user-form v-if="user" :user="user" @save="userSaved" />
    </wrapper>
</template>

<script>
import UserForm from './partial/form'

export default {
    components: { UserForm },

    data: () => ({
        loading: false,
        user: null
    }),

    async created () {
        await this.getUser()
    },

    methods: {
        async getUser () {
            this.loading = true

            const response = await this.$http.get('/api/users/' + this.$route.params.id)

            this.user = response.data.data

            this.loading = false
        },

        async userSaved () {
            await this.$router.push({
                name: 'users.index'
            })
        }
    },

    computed: {
        title () {
            return this.user ? this.user.name : '...'
        }
    }
}
</script>
