<template>
    <wrapper>
        <template #title>
            Пользователи
        </template>

        <template #header-elements>
            <router-link :to="{ name: 'users.create' }" class="btn btn-primary">
                Добавить
            </router-link>
        </template>

        <div class="card">
            <div class="table-responsive">
                <table class="table table-sm card-table resources-table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Ф.И.О</th>
                        <th>Электронный адрес</th>
                        <th>Роль</th>
                        <th>Последняя активность</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody v-if="!loading">
                    <tr v-for="user in users">
                        <td>{{ user.id }}</td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            <span v-if="user.roles.length <= 0" class="text-muted">Нет</span>
                            {{ user.roles.map(r => r.title).join(', ') }}
                        </td>
                        <td>
                            <span v-if="!user.activity_at" class="text-muted">Не было</span>
                            {{ user.activity_at | formatDateTime }}
                        </td>
                        <td class="text-right">
                            <div v-if="user.actions.includes('update') || user.actions.includes('delete')">
                                <b-dropdown size="lg"  variant="link" toggle-class="text-decoration-none" no-caret>
                                    <template #button-content>
                                        <a href="#"
                                           class="dropdown-ellipses dropdown-toggle"
                                           role="button"
                                           data-toggle="dropdown"
                                           aria-haspopup="true"
                                           aria-expanded="false">
                                            <i class="fe fe-more-vertical" />
                                        </a>
                                    </template>
                                    <b-dropdown-item>
                                        <router-link
                                            :to="{
                                                    name: 'users.edit',
                                                    params: { id: user.id }
                                                }"
                                            class="dropdown-item">
                                            <i class="fe fe-edit-2 mr-2" /> Редактировать
                                        </router-link>
                                    </b-dropdown-item>
                                    <b-dropdown-item>
                                        <button @click.prevent="deleteUser(user)" class="dropdown-item text-danger">
                                            <i class="fe fe-trash mr-2" /> Удалить
                                        </button>
                                    </b-dropdown-item>
                                </b-dropdown>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <loading :enabled="loading" />

            <div v-if="!loading && users.length > 0" class="card-footer">
                <pagination :per-page="meta.per_page" :total="meta.total" />
            </div>

            <div v-if="!loading && users.length === 0" class="card-footer font-size-sm">
                Пользователей не найдено.
            </div>
        </div>

    </wrapper>
</template>

<script>
export default {
    data: () => ({
        loading: false,
        users: [],
        meta: null
    }),

    computed: {
        currentPage () {
            return this.$route.query.page || 1
        }
    },

    async created () {
        await this.getUsers()
    },

    methods: {
        async getUsers () {
            this.loading = true

            const response = await this.$http.get('/api/users', {
                params: {
                    page: this.currentPage
                }
            })

            this.users = response.data.data
            this.meta = response.data.meta

            this.loading = false
        },

        async deleteUser(user) {
            if (!confirm('Вы действительно хотите удалить пользователя ' + user.name + '?')) {
                return
            }

            await this.$http.delete('/api/users/' + user.id)
            await this.getUsers()
        }
    },

    watch: {
        '$route.query.page': function () {
            this.getUsers()
        }
    }
}
</script>
