// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// @import "~vue-multiselect/dist/vue-multiselect.min.css";

html, body {
    font-family: 'Nunito', sans-serif;
}

// Required form group asterisk
.form-group {
    &.required {
        & > label {
            &:after {
                content: "*";
                color: red;
            }
        }
    }
}

.form-control, .form-control {
    &:disabled, &[readonly] {
        color: #95aac9;
        background-color: #edf2f9;
    }
}

.padding-15 {
    padding: 15px;
}

.padding-y-15 {
    padding: 15px 0;
}

.padding-x-15 {
    padding: 0 15px;
}

.project-block {
    background: #fdfdfd;
    margin-bottom: 15px;
    padding: 15px;
    border: 1px solid #ebecf0;
    border-radius: 5px;
    cursor: pointer;
}

// Search results highlight
.highlight {
    background-color: yellow;
}

.vc-text-base {
    padding: .125rem .5rem !important;;
    font-size: .8125rem !important;
    height: calc(1.75em + .25rem + 2px);
}

.member {
    background-color: #dfe1e6;
    border-radius: 25em;
    color: #172b4d;
    cursor: pointer;
    display: block;
    float: left;
    height: 32px;
    margin: 0 4px 4px 0;
    overflow: visible;
    position: relative;
    width: 32px;
    text-decoration: none;
    -webkit-user-select: none;
    user-select: none;
}

.member-initials {
    display: block;
    font-size: 12px;
    font-weight: 700;
    height: 32px;
    left: 0;
    line-height: 32px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;

    //height: 28px;
    //line-height: 28px;
    //width: 28px;
}

.pop-over.mod-mini-profile .no-back .pop-over-header {
    border-bottom-color: transparent;
    height: 30px;
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;
    z-index: 1;
}

.pop-over-header-close-btn {
    color: #6b778c;
    padding: 10px 12px 10px 8px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

.pop-over-content {
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 15px 15px;
}

.mini-profile {
    margin: 8px 0;
    min-height: 56px;
    position: relative;
}

.mini-profile-member {
    float: left;
    margin: 2px;
}

.member-large {
    background-color: #dfe1e6;
    border-radius: 25em;
    display: block;
    height: 50px;
    overflow: hidden;
    position: relative;
    width: 50px;
    z-index: 1;
}

.member-initials {
    display: block;
    font-size: 12px;
    font-weight: 700;
    height: 32px;
    left: 0;
    line-height: 32px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}

.member-large .member-initials {
    display: block;
    font-size: 16px;
    overflow: hidden;
    right: 0;
}

.member-large .av-btn, .member-large .member-initials {
    font-weight: 700;
    height: 50px;
    left: 0;
    line-height: 50px;
    position: absolute;
    text-align: center;
    top: 0;
}

.mini-profile-info {
    margin: 0 0 0 64px;
    word-wrap: break-word;
}

.mini-profile-info-title {
    margin: 0 40px 0 0;
}

.mini-profile-info-title-link, .mini-profile-username-link {
    color: #172b4d;
    text-decoration: none;
}

.mini-profile-info-title-link:hover, .mini-profile-username-link:hover {
    text-decoration: underline;
}

.pop-over-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.pop-over-list li>.pop-over-list-item, .pop-over-list li>a {
    cursor: pointer;
    color: #172b4d;
    display: block;
    font-weight: 400;
    padding: 6px 12px;
    position: relative;
    margin: 0 -12px;
    text-decoration: none;
}

.pop-over-list li>.pop-over-list-item:active, .pop-over-list li>a:active {
    background-color: #e4f0f6;
}

.quiet, .quiet a {
    color: #5e6c84;
}

.u-bottom {
    margin-bottom: 0;
    padding-bottom: 0;
}


.table-hover tbody tr:hover {
    cursor: pointer;
}

.table-operations {
    th.th-bigger {
        font-size: .75rem;
    }

    thead {
        th, td {
            padding-left: 0.5rem ;
            padding-right: 0.5rem ;
        }
    }

    tbody {
        th, td {
            padding: 0.5rem;
            font-size: 0.8rem;
        }
    }
}

.not-set {
    color: #f66d9b;
}

.sort {
    &.asc:after, &.desc:after {
        font-family: 'Feather' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    &.asc {
        &:after {
            content: "\e931";
        }
    }
    &.desc {
        &:after {
            content: "\e92e";
        }
    }
}
