<template>
    <form @submit.prevent="submit">

        <div class="form-group required row">
            <label class="col-lg-3 col-form-label text-lg-right">
                Ф.И.О
            </label>
            <div class="col-lg-6">
                <input v-model="user.name"
                       type="text"
                       :class="{ 'is-invalid': errors.name }"
                       class="form-control">
                <has-error :message="errors.name" />
            </div>
        </div>

        <div class="form-group required row">
            <label class="col-lg-3 col-form-label text-lg-right">
                Электронный адрес
            </label>
            <div class="col-lg-4">
                <input v-model="user.email"
                       type="email"
                       class="form-control"
                       :class="{ 'is-invalid': errors.email }">
                <has-error :message="errors.email" />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-lg-3 col-form-label text-lg-right">
                Роли
            </label>
            <div class="col-lg-3">
                <div v-for="role in roles"
                     class="custom-control custom-checkbox"
                     :class="{ 'is-invalid': errors.roles }">
                    <input type="checkbox"
                           class="custom-control-input"
                           :value="role"
                           v-model="user.roles"
                           :id="'checkboxRole' + role.name">
                    <label class="custom-control-label"
                           :for="'checkboxRole' + role.name">
                        {{ role.title }}
                    </label>
                </div>

                <has-error :message="errors.roles" />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-lg-3 col-form-label text-lg-right">
                Пароль
            </label>
            <div class="col-lg-4">
                <input v-model="user.password"
                       type="password"
                       :class="{ 'is-invalid': errors.password }"
                       class="form-control">
                <small v-if="isNewRecord" class="form-text text-muted mt-1">Если не указан - будет сгенерирован автоматически.</small>
                <has-error :message="errors.password" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-lg-9 offset-lg-3">
                <submit-button :submitting="submitting">
                    Сохранить
                </submit-button>
            </div>
        </div>

    </form>
</template>

<script>
import { mapGetters } from 'vuex'
import { pickBy, identity } from 'lodash'
import { Validatable } from '../../../mixins'

export default {
    mixins: [Validatable],
    props: {
        user: {
            type: Object,
            default: function () {
                return {
                    name: '',
                    email: '',
                    roles: [],
                    password: ''
                }
            }
        }
    },

    data: () => ({
        submitting: false,
        selectedRoles: []
    }),

    methods: {
        async submit () {
            if (!this.submitting) {
                this.submitting = true

                try {
                    const response = await this.$http({
                        method: this.isNewRecord ? 'post' : 'put',
                        url: this.resourceUrl,
                        data: pickBy(this.user, identity)
                    })

                    this.$emit('save', response.data.data);

                } catch (e) {
                    this.extractValidation(e)
                }

                this.submitting = false
            }
        }
    },

    computed: {
        ...mapGetters({
            roles: 'users/roles'
        }),

        isNewRecord () {
            return !this.user.hasOwnProperty('id')
        },

        resourceUrl () {
            return this.isNewRecord ? '/api/users' : '/api/users/' + this.user.id
        }
    },

    watch: {
        selectedRoles (values) {
            console.log(values)
            this.user.roles = this.roles.filter(r => values.contains(r.name))
        }
    }
}
</script>
