<template>
    <wrapper>
        <template #title>
            Изменение пароля
        </template>

        <form @submit.prevent="submit">
            <div class="form-group required row">
                <label class="col-lg-3 col-form-label text-lg-right">
                    Текущий пароль
                </label>
                <div class="col-lg-4">
                    <input v-model="change.old_password"
                           type="password"
                           :class="{ 'is-invalid': errors.old_password }"
                           class="form-control">
                    <has-error :message="errors.old_password" />
                </div>
            </div>

            <div class="form-group required row">
                <label class="col-lg-3 col-form-label text-lg-right">
                    Новый пароль
                </label>
                <div class="col-lg-4">
                    <input v-model="change.password"
                           type="password"
                           :class="{ 'is-invalid': errors.password }"
                           class="form-control">
                    <has-error :message="errors.password" />
                </div>
            </div>

            <div class="form-group required row">
                <label class="col-lg-3 col-form-label text-lg-right">
                    Подтвердите новый пароль
                </label>
                <div class="col-lg-4">
                    <input v-model="change.password_confirmation"
                           type="password"
                           :class="{ 'is-invalid': errors.password_confirmation }"
                           class="form-control">
                    <has-error :message="errors.password_confirmation" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-4 offset-lg-3">
                    <submit-button :submitting="submitting">
                        Изменить пароль
                    </submit-button>

                    <div v-if="updated" class="alert alert-success mt-3">
                        <h3 class="alert-heading">
                            Успех!
                        </h3>

                        Ваш пароль был изменен.
                    </div>
                </div>
            </div>
        </form>
    </wrapper>
</template>

<script>
import { Validatable } from "../../mixins"

export default {
    mixins: [ Validatable ],

    data: () => ({
        change: {
            old_password: '',
            password: '',
            password_confirmation: ''
        },
        submitting: false,
        updated: false
    }),

    methods: {
        async submit () {
            if (!this.submitting) {
                this.submitting = true

                try {
                    await this.$http({
                        method: 'post',
                        url: '/api/settings/change-password',
                        data: this.change
                    })

                    this.clearErrors()
                    this.change = {
                        old_password: '',
                        password: '',
                        password_confirmation: ''
                    }
                    this.updated = true
                } catch (e) {
                    this.extractValidation(e)
                }

                this.submitting = false
            }
        }
    }
}
</script>
