<template>
    <div v-if="enabled" class="text-center my-2">
        <span class="spinner-border spinner-border-lg text-primary ml-1" role="status" aria-hidden="true" />
    </div>
</template>

<script>
export default {
    props: {
        enabled: {
            type: Boolean,
            default: true
        }
    }
}
</script>
