<template>
    <button type="button" class="btn btn-upload btn-light" :disabled="uploading">
        <i v-if="!uploading" class="icon-attachment mr-2" />
        <i v-else class="icon-spinner4 spinner mr-2" />
        <span>Загрузить</span>
        <input v-if="multiple" ref="file" type="file" multiple @change="upload" />
        <input v-else ref="file" type="file" @change="upload" />
    </button>
</template>

<script src="./storage-uploader.js"></script>

<style type="text/scss" scoped>
.btn-upload {
    position: relative;
}

.btn-upload input[type=file] {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    width: 100%;
}
</style>
