<template>
    <button type="submit" class="btn btn-primary">
        <slot />
        <span v-if="submitting" class="spinner-border spinner-border-sm ml-1" role="status" aria-hidden="true" />
        <span v-if="submitting" class="sr-only">Загрузка...</span>
    </button>
</template>

<script>
export default {
    props: {
        submitting: {
            type: Boolean,
            default: true,
        },
    },
}
</script>
