<template>
    <div class="main-content">
        <div v-if="showHeader" class="header" :class="darkHeader ? 'bg-dark' : ''">
            <div class="container-fluid">
                <div class="header-body">
                    <div class="row align-items-end">
                        <div class="col">
                            <h1 v-if="!!$slots['title']" class="header-title pt-3" :class="darkHeader ? 'text-white' : ''">
                                <slot name="title" />
                            </h1>
                        </div>
                        <div v-if="!!$slots['header-elements']" class="col-auto">
                            <slot name="header-elements" />
                        </div>
                    </div> <!-- / .row -->
                    <slot name="header-content" />
                </div> <!-- / .header-body -->

                <div v-if="!!$slots['header-footer']" class="header-footer">
                    <slot name="header-footer" />
                </div>

            </div>
        </div> <!-- / .header -->
        <div class="container-fluid">
            <slot />
        </div>
    </div><!-- / .main-content -->
</template>

<script>
export default {
    props: {
        showHeader: {
            type: Boolean,
            default: true
        },

        darkHeader: {
            type: Boolean,
            default: false
        },

        headerClass: {
            type: [String, Array, Object]
        }
    }
}
</script>
