<template>
    <wrapper>
        <template #title>
            Добавить новость
        </template>

        <post-form @save="postSaved" />
    </wrapper>
</template>

<script>
import PostForm from './partial/form'

export default {
    components: { PostForm },

    methods: {
        async postSaved () {
            await this.$router.push({
                name: 'posts.index'
            })
        }
    }
}
</script>

