<template>
    <wrapper>
        <template v-if="post" #title>
            {{ post.title }}   {{ post.slug }}
        </template>

        <post-form v-if="post" :post="post" @save="postSaved" />
    </wrapper>
</template>

<script>
import PostForm from './partial/form'

export default {
    components: { PostForm },

    data: () => ({
        loading: false,
        post: null
    }),

    async created () {
        await this.getPost()
    },

    methods: {
        async getPost () {
            this.loading = true

            const response = await this.$http.get('/api/posts/' + this.$route.params.slug)

            this.post = response.data.data

            this.loading = false
        },

        async postSaved () {
            await this.$router.push({
                name: 'posts.index'
            })
        }
    },

    computed: {
        title () {
            return this.post ? this.post.name : '...'
        }
    }
}
</script>
