<template>
    <wrapper>
        <template #title>
            Новости
        </template>

        <template #header-elements>
            <router-link :to="{ name: 'posts.create' }" class="btn btn-primary">
                Добавить
            </router-link>
        </template>

        <div class="card">
            <div class="table-responsive">
                <table class="table table-sm card-table table-hover resources-table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Название</th>
                        <th>Автор</th>
                        <th>Дата</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody v-if="!loading">
                    <tr v-for="post in posts" :key="post.id">
                        <td @click="show(post)">{{ post.id }}</td>
                        <td @click="show(post)">{{ post.title }}</td>
                        <td @click="show(post)">{{ post.author ? post.author.name : '-' }}</td>
                        <td @click="show(post)">{{ post.updated_at | formatDate }}</td>
                        <td class="text-right">

                            <b-dropdown size="lg"  variant="link" toggle-class="text-decoration-none" no-caret>
                                <template #button-content>
                                    <a href="#"
                                       class="dropdown-ellipses dropdown-toggle"
                                       role="button"
                                       data-toggle="dropdown"
                                       aria-haspopup="true"
                                       aria-expanded="false">
                                        <i class="fe fe-more-vertical" />
                                    </a>
                                </template>
                                <b-dropdown-item>
                                    <router-link :to="{
                                                name: 'posts.show',
                                                params: { slug: post.slug },
                                            }"
                                                 v-if="post.actions.includes('view')"
                                                 class="dropdown-item">
                                        <i class="fe fe-eye mr-2" /> Просмотр
                                    </router-link>
                                </b-dropdown-item>
                                <b-dropdown-item>
                                    <router-link
                                        :to="{
                                                    name: 'posts.edit',
                                                    params: { slug: post.slug }
                                                }"
                                        class="dropdown-item">
                                        <i class="fe fe-edit-2 mr-2" /> Редактировать
                                    </router-link>
                                </b-dropdown-item>
                                <b-dropdown-item>
                                    <button @click.prevent="deletePost(post)" class="dropdown-item text-danger">
                                        <i class="fe fe-trash mr-2" /> Удалить
                                    </button>
                                </b-dropdown-item>
                            </b-dropdown>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <loading :enabled="loading" />

            <div v-if="!loading && posts.length > 0" class="card-footer">
                <pagination :per-page="meta.per_page" :total="meta.total" />
            </div>

            <div v-if="!loading && posts.length === 0" class="card-footer font-size-sm">
                Проектов не найдено.
            </div>
        </div>

    </wrapper>
</template>

<script>
export default {
    data: () => ({
        loading: false,
        posts: [],
        meta: null
    }),

    computed: {
        currentPage () {
            return this.$route.query.page || 1
        }
    },

    async created () {
        await this.getPosts()
    },

    methods: {
        async getPosts () {
            this.loading = true

            const response = await this.$http.get('/api/posts', {
                params: {
                    page: this.currentPage
                }
            })

            this.posts = response.data.data
            this.meta = response.data.meta

            this.loading = false
        },

        async deletePost(post) {
            if (!confirm('Вы действительно хотите удалить новость ' + post.name + '?')) {
                return
            }

            await this.$http.delete('/api/posts/' + post.slug)
            await this.getPosts()
        },

        show (post) {
            this.$router.push({ name: 'posts.show', params: { slug: post.slug }, query: { page: this.page } })
        },
    },

    watch: {
        '$route.query.page': function () {
            this.getPosts()
        }
    }
}
</script>
