<template>
    <wrapper>
        <template v-if="post" #title>
            {{ post.title }}
        </template>
        <loading :enabled="loading" />
        <div v-if="post" class="card post-show-wrap">
            <div class="card-body">
                <div class="row">
                    <div :class="post.image ? 'col-md-8' : 'col-md-12'">
                        <p class="font-weight-bold font-size-lg">{{post.title}}</p>
                        <p>{{post.content}}</p>
                    </div>
                    <div v-if="post.image" class="col-md-4">
                        <img style="max-width: 200px;" :src="post.image.links.display">
                    </div>
                </div>
            </div>
        </div>
    </wrapper>
</template>

<script>
export default {
    data: () => ({
        loading: false,
        post: null
    }),

    async created () {
        await this.getPost()
    },

    methods: {
        async getPost () {
            this.loading = true

            const response = await this.$http.get('/api/posts/' + this.$route.params.slug)

            this.post = response.data.data

            this.loading = false
        }
    },

    computed: {
        title () {
            return this.post ? this.post.name : '...'
        }
    }
}
</script>
